<template>
  <about v-if="!guest"></about>
</template>

<script>
import { mapActions, mapGetters} from 'vuex'
import About from '../components/About.vue'

export default {
  components: {
    'about' : About,
  },

  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setUser: 'auth/setUser',
    }),

  },
}
</script>

<style>

</style>
