<template>
  <form-bansos v-if="guest"></form-bansos>
</template>

<script>
import { mapActions, mapGetters} from 'vuex'
import FormBansos from '../components/FormBansos.vue'

export default {

  components: {
    'form-bansos': FormBansos,
  }, 

  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setUser: 'auth/setUser',
    }),

  },
}
</script>
<style scoped>

</style>
