<template>
  <form-bansos v-if="!guest"></form-bansos>
</template>

<script>

import FormBansos from '../components/FormBansos.vue'
import { mapActions, mapGetters} from 'vuex'

export default {
  data: () => ({

  }),

  components: {
    'form-bansos': FormBansos,
  }, 
  
  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setUser: 'auth/setUser',
    }),

  },
}
</script>