<template>
  <rw-profile v-if="!guest"></rw-profile>
</template>

<script>
import RwProfile from '../components/RwProfile.vue'
import { mapActions, mapGetters} from 'vuex'

export default {
  components: {
    'rw-profile' : RwProfile,
  },

  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setUser: 'auth/setUser',
    }),

  },
};
</script>