<template>
  <v-layout justify-center>
    <v-row>
      <v-dialog
        v-model="dialog"
        width="90%"
      >
        <v-card>
          <v-card-title>
            <span class="text-h6">BansosApp by JDS</span>
          </v-card-title>
          <v-card-text>
            Komplek Panghegar adalah sebuah area di wilayah Kelurahan Cipadung Kulon, Kecamatan Panyileukan, yang terdiri dari 9 Rukun Warga (RW) dan 13 Rukun Tetangga (RT). 
            Pejabat tingkat RW setempat membutuhkan sebuah aplikasi yang dapat digunakan untuk menginput data-data warganya yang membutuhkan bantuan di era pandemi. 
            BansosApp adalah aplikasi yang dapat menjadi solusi bagi permasalahan tersebut, sehingga proses input data penerima bantuan sosial dapat dilakukan dengan mudah dan cepat.
            Untuk menggunakan aplikasi ini pun cukup praktis, pejabat tingkat RW setempat cukup melakukan login dengan akun yang sudah disediakan, kemudian bisa langsung melakukan input data pada tab yang disediakan.
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="#16A75C"
              text
              @click="dialog = false"
            >
              Confirm
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-layout>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  computed: {
    ...mapGetters({
      dialogStatus: 'dialog/status',
    }),
    dialog: {
      get(){
        return this.dialogStatus
      },
      set(value){
        this.setDialogStatus(value)
      },
    }
  },

  methods: {
    ...mapActions({
      setDialogStatus: 'dialog/setStatus',
    }),
  }
}
</script>

<style>

</style>