<template>
    <v-snackbar
        v-model="alert"
        color="#212121"
        icon="check-circle"
        timeout="3000"
        multi-line
        top
    >{{ text }}
      <template v-slot:action="{ attrs }">
          <v-btn color="#16A75C" text v-bind="attrs" @click="close">
              Close
          </v-btn>
      </template>
    </v-snackbar>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "alert",
    computed: {
        ...mapGetters({
        status: "alert/status",
        // color: "alert/color",
        text: "alert/text",
        }),
        alert: {//agar bisa 2 way binding
            get() {
                return this.status
            },
            set(value){
                this.setAlert({
                status: value
                })
            }
        }
    },
    methods: {
        ...mapActions({
            setAlert: "alert/set"
        }),
        close(){
            this.setAlert({
                status: false
            })
        },
    }
}
</script>

<style>

</style>