<template>
<v-layout v-if="!guest">
  <v-overlay :value="overlay">
        <v-progress-circular
          indeterminate
          size="80"
          width="10"
          color="#16A75C"
        ></v-progress-circular>
  </v-overlay>

  <validation-observer
    ref="observer"
    v-slot="{ invalid }"
  >
    <form @submit.prevent="submit">
        <!-- Nama -->
      <validation-provider
        v-slot="{ errors }"
        name="Nama"
        rules="required|max:50"
      >
        <v-text-field
          class="mt-10 mb-5"
          v-model="nama"
          :counter="50"
          :error-messages="errors"
          color="#16A75C"
          label="Nama"
          required
          outlined
        ></v-text-field>
      </validation-provider>
      <!-- NIK -->
      <validation-provider
        v-slot="{ errors }"
        name="NIK"
        rules="required|integer|digits:16"
      >
        <v-text-field
          class="mt-5 mb-5"
          v-model="nik"
          :counter="16"
          :error-messages="errors"
          color="#16A75C"
          label="NIK"
          required
          outlined
        ></v-text-field>
      </validation-provider>
      <!-- Nomor KK -->
      <validation-provider
        v-slot="{ errors }"
        name="Nomor KK"
        rules="required|integer|digits:16"
      >
        <v-text-field
          class="mt-5 mb-5"
          v-model="nkk"
          :counter="16"
          :error-messages="errors"
          color="#16A75C"
          label="Nomor KK"
          required
          outlined
        ></v-text-field>
      </validation-provider>
      <!-- Foto KTP -->
      <validation-provider
        v-slot="{ errors, validate }"
        name="Foto KTP"
        rules="required|size:2000"
      >
        <v-file-input
            class="mt-5 mb-5"
            @change="validate"
            v-model="fotoKTP"
            accept="image/png, image/jpeg, image/jpg, image/bmp"
            :prepend-icon="null"
            :error-messages="errors"
            color="#16A75C"
            placeholder="Masukkan Foto KTP"
            append-icon="mdi-camera"
            label="Foto KTP"
            outlined
        ></v-file-input>
      </validation-provider>
      <!-- Foto KK -->
      <validation-provider
        v-slot="{ errors, validate }"
        name="Foto KK"
        rules="required|size:2000"
      >
        <v-file-input
            class="mt-5 mb-5"
            @change="validate"
            v-model="fotoKK"
            accept="image/png, image/jpeg, image/jpg, image/bmp"
            :prepend-icon="null"
            :error-messages="errors"
            color="#16A75C"
            placeholder="Masukkan Foto KK"
            append-icon="mdi-camera"
            label="Foto KK"
            outlined
        ></v-file-input>
      </validation-provider>
      <!-- Umur -->
      <validation-provider
        v-slot="{ errors }"
        name="Umur"
        rules="required|integer|min_value:25"
      >
        <v-text-field
          class="mt-5 mb-5"
          v-model="umur"
          :error-messages="errors"
          color="#16A75C"
          label="Umur"
          required
          outlined
        ></v-text-field>
      </validation-provider>
      <!-- Jenis Kelamin -->
      <validation-provider
        v-slot="{ errors }"
        name="Jenis kelamin"
        rules="required"
      >
        <v-select
          class="mt-5 mb-5"
          v-model="jenisKelamin"
          :items="jk"
          :error-messages="errors"
          color="#16A75C"
          label="Jenis Kelamin"
          data-vv-name="jeniskelamin"
          required
          outlined
        ></v-select>
      </validation-provider>
      <!-- Alamat -->
      <validation-provider
        v-slot="{ errors }"
        name="Alamat"
        rules="required|max:255"
      >
        <v-textarea
          class="mt-5 mb-5"
          v-model="alamat"
          :counter="255"
          :error-messages="errors"
          color="#16A75C"
          label="Alamat"
          required
          outlined
        ></v-textarea>
      </validation-provider>
      <!-- RT RW -->
      <v-row>
        <v-col>
            <validation-provider
              v-slot="{ errors }"
              name="RT"
              rules="required|integer"
            >
              <v-text-field
                class="mt-1 mb-1"
                v-model="rt"
                :error-messages="errors"
                color="#16A75C"
                label="RT"
                required
                outlined
              ></v-text-field>
            </validation-provider>
        </v-col>
        <v-col>
            <validation-provider
              v-slot="{ errors }"
              name="RW"
              rules="required|integer"
            >
              <v-text-field
                class="mt-1 mb-1"
                v-model="rw"
                :error-messages="errors"
                color="#16A75C"
                label="RW"
                required
                outlined
              ></v-text-field>
            </validation-provider>
        </v-col>
      </v-row>
      <!-- Gaji Sebelum Pandemi -->
      <vuetify-money
        required
        class="mt-5 mb-5"
        :rules="moneyRules"
        v-model="gajiSebelum"
        v-bind:color="color"
        v-bind:label="labelSebelum"
        v-bind:placeholder="placeholder"
        v-bind:outlined="outlined"
        v-bind:clearable="clearable"
        v-bind:valueWhenIsEmpty="valueWhenIsEmpty"
        v-bind:options="options"
      />
      <!-- Gaji Sesudah Pandemi -->
      <vuetify-money
        required
        class="mt-5 mb-5"
        :rules="moneyRules"
        v-model="gajiSesudah"
        v-bind:color="color"
        v-bind:label="labelSesudah"
        v-bind:placeholder="placeholder"
        v-bind:outlined="outlined"
        v-bind:clearable="clearable"
        v-bind:valueWhenIsEmpty="valueWhenIsEmpty"
        v-bind:options="options"
      />
      <!-- Alasan membutuhkan bantuan -->
      <validation-provider
        v-slot="{ errors }"
        name="Alasan membutuhkan bantuan"
        rules="required"
      >
        <v-select
          class="mt-5 mb-5"
          v-model="alasan"
          :items="sebab"
          :error-messages="errors"
          color="#16A75C"
          label="Alasan membutuhkan bantuan"
          data-vv-name="jeniskelamin"
          required
          outlined
        ></v-select>
      </validation-provider>
      <!-- Alasan jika "lainnya" dipilih -->
      <validation-provider
        v-if="alasan == sebab[3]"
        v-slot="{ errors }"
        name="Alasan lain"
        rules="required|max:200"
      >
        <v-textarea
          class="mt-5 mb-5"
          v-model="alasan2"
          :counter="255"
          :error-messages="errors"
          color="#16A75C"
          label="Alasan lainnya..."
          required
          outlined
        ></v-textarea>
      </validation-provider>
      <!-- Agreement -->
      <validation-provider
        v-slot="{ errors }"
        rules="required"
        name="checkbox"
      >
        <v-checkbox
          class="mb-5"
          v-model="checkbox"
          color="#16A75C"
          :error-messages="errors"
          value="1"
          label="Saya menyatakan bahwa data yang diisikan adalah benar dan siap mempertanggungjawabkan apabila ditemukan ketidaksesuaian dalam data tersebut"
          type="checkbox"
          required
        ></v-checkbox>
      </validation-provider>

      <v-btn
        large
        color="#16A75C"
        class="mr-5 white--text"
        type="submit"
        :disabled="invalid"
      >
        submit
      </v-btn>
      <v-btn class="white--text" large color="#1E88E5" @click="clear">
        clear
      </v-btn>
    </form>
  </validation-observer>
</v-layout>
  
</template>

<script>

import { required, digits, max, min_value, size, integer } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { mapActions, mapGetters} from 'vuex'

setInteractionMode('eager')

extend('digits', {
    ...digits,
    message: '{_field_} harus {length} digits', //({_value_})
  })

extend('required', {
    ...required,
    message: '{_field_} tidak boleh kosong',
  })

extend('max', {
    ...max,
    message: '{_field_} tidak boleh lebih banyak dari {length} karakter',
  })

extend('min_value', {
    ...min_value,
    message: '{_field_} minimal 25 tahun',
  })

extend('size', {
    ...size,
    message: 'ukuran file {_field_} tidak boleh lebih besar dari 2 Mb ',
  })

extend('integer', {
    ...integer,
    message: '{_field_} harus berupa angka',
  })

// extend('regex', {...regex, message: '{_field_} {_value_} tidak sesuai {regex}',})
// extend('email', {...email, message: 'Email harus valid', })

export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },
    data: () => ({
      overlay: true,
      nama: '',
      nik: '',
      nkk: '',
      rt: '',
      rw: '',
      alamat: '',
      fotoKTP: [],
      fotoKK: [],
      umur: null,
      jenisKelamin: null,
      alasan: null,
      alasan2: '',
      checkbox: null,
      jk: [
        'Laki-laki',
        'Perempuan',
      ],
      sebab: [
        'Kehilangan pekerjaan',
        'Kepala keluarga terdampak atau korban Covid',
        'Tergolong fakir/miskin semenjak sebelum Covid',
        'Lainnya...'
      ],
      //Data untuk vuetify-money
      gajiSebelum: "",
      gajiSesudah: "",
      labelSebelum: "Gaji Sebelum Pandemi",
      labelSesudah: "Gaji Sesudah Pandemi",
      placeholder: "Masukkan Nominal Gaji",
      outlined: true,
      clearable: true,
      color: "#16A75C",
      valueWhenIsEmpty: "",
      options: {
        locale: "pt-BR",
        prefix: "Rp",
        suffix: "",
        length: 11,
        precision: 0
      },
      moneyRules: [
          v => !!v || 'Nominal gaji tidak boleh kosong!',
      ],
    }),

    computed: {
      ...mapGetters({
          guest: 'auth/guest',
          user: 'auth/user',
      }),
    },

    methods: {
      ...mapActions({
        setAlert : 'alert/set',
      }),

      submit () {
        this.$refs.observer.validate()
        let formData = []
        formData = {
          'nama': this.nama, 
          'nik': this.nik,
          'nkk': this.nkk,
          'rt': this.rt,
          'rw' : this.rw,
          'alamat' : this.alamat,
          'fotoKTP': this.fotoKTP,
          'fotoKK': this.fotoKK,
          'umur': this.umur,
          'jenisKelamin': this.jenisKelamin,
          'alasan': this.alasan,
          'alasan2': this.alasan2,
        }

        let responseTime = Math.floor(Math.random() * 2500);
        console.log(JSON.stringify(formData)),
        this.overlay = true
        
        if(responseTime <= 1500){
            
            setTimeout(() => (
                this.overlay = false,
                console.log('upload data sukses'),
                localStorage.setItem('data', JSON.stringify(formData)),
                this.setAlert({
                    status: true,
                    //color: 'success',
                    text: 'Data berhasil diupload, terima kasih',
                }),
                window.location.reload()
            ), responseTime)
        }
        else if ((responseTime > 1500) && (responseTime <= 2000)){
            setTimeout(() => (
                this.overlay = false,
                console.log('Response Time Out'),
                this.setAlert({
                    status: true,
                    //color: 'success',
                    text: 'Response Time Out, silahkan coba lagi',
                })
            ), responseTime)
        }
        else if ((responseTime > 2000) && (responseTime <= 2500)){
            setTimeout(() => (
                this.overlay = false,
                console.log('Internal Server Error'),
                this.setAlert({
                    status: true,
                    //color: 'success',
                    text: 'Internal Server Error, silahkan coba lagi',
                }),
                window.location.reload()
            ), responseTime)
        }
       
        
        
      },

      clear () {
        this.nama = ''
        this.nik = ''
        this.kk = ''
        this.rt = ''
        this.rw = ''
        this.alamat = ''
        this.fotoKTP = []
        this.fotoKK = []
        this.umur = null
        this.jenisKelamin = null
        this.alasan = null
        this.alasan2 = ''
        this.gajiSebelum = ''
        this.gajiSesudah = ''
        this.checkbox = null
        this.$refs.observer.reset()
        
      },
    },

    mounted(){
      setTimeout(() => (this.overlay = false), 1000)
    }
}
</script>