<template>
<div class="login">
<v-layout wrap justify-center>
    <v-overlay :value="overlay">
        <v-progress-circular
          indeterminate
          size="80"
          width="10"
          color="#16A75C"
        ></v-progress-circular>
    </v-overlay>

    <div class="d-flex flex-column">
        <v-layout justify-center>
            <img class="mt-10 mb-5" src="../assets/logo-jds.png" alt="Jabar Digital Service" width="180px" height="180px">
        </v-layout>
        <v-layout class="white--text text-h5 mb-5 font-weight-medium" justify-center>
            Jabar Digital Service
        </v-layout>

        <v-card class="pa-10 ma-7 rounded-xl" width="400" height="320">
            <validation-observer
                ref="observer"
                v-slot="{ invalid }"
            >
                <form @submit.prevent="submit">
                    <!-- username -->
                    <validation-provider
                        v-slot="{ errors }"
                        name="Username"
                        rules="required|max:20"
                    >
                        <v-text-field
                            class="mb-2"
                            color="#16A75C"
                            v-model="username"
                            :counter="20"
                            :error-messages="errors"
                            label="Username"
                            required
                            outlined
                        ></v-text-field>
                    </validation-provider>
                    <!-- password -->
                    <validation-provider
                        v-slot="{ errors }"
                        name="Password"
                        rules="required|min:8"
                    >
                        <v-text-field
                            color="#16A75C"
                            class="mb-3"
                            :counter="16"
                            :error-messages="errors"
                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="showPassword ? 'text' : 'password'"
                            v-model="password"
                            label="Password"
                            required
                            outlined
                            @click:append="showPassword = !showPassword"
                        ></v-text-field>
                    </validation-provider>
                    
                    <v-layout wrap justify-center>
                        <v-btn
                            large
                            color="#16A75C"
                            class="mr-5 white--text"
                            type="submit"
                            :disabled="invalid"
                            @click="submit"
                        >
                            submit
                        </v-btn>
                        <v-btn 
                            class="ml-5 white--text"
                            large color="#1E88E5" 
                            @click="clear"
                        >
                            clear
                        </v-btn>
                    </v-layout>
                    
                </form>
            </validation-observer>
        </v-card>
    </div>
      
</v-layout>
</div>

</template>

<script>
import { required, max, min} from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'
import { mapActions} from 'vuex'

setInteractionMode('eager')

extend('required', {
    ...required,
    message: '{_field_} tidak boleh kosong',
  })

extend('max', {
    ...max,
    message: '{_field_} tidak boleh lebih banyak dari {length} karakter',
  })

extend('min', {
    ...min,
    message: '{_field_} minimal 8 karakter',
  })

export default {
    components: {
      ValidationProvider,
      ValidationObserver,
    },

    data : () => ({
        username: '',
        password: '',
        showPassword: false,
        overlay: true,
    }),

    methods: {
      ...mapActions({
        setAlert : 'alert/set',
        setUser : 'auth/setUser',
      }),

      submit () {
        this.$refs.observer.validate()
        console.log("Login berhasil")
        this.setUser({
            guest : false,
            user : this.username,
        })
        this.setAlert({
            status: true,
            text: 'Anda berhasil Login. Selamat datang..',
        })
        
      },

      clear () {
        this.username = ''
        this.password = ''
        this.$refs.observer.reset()
        
      },
    },

    mounted(){
        setTimeout(() => (this.overlay = false), 1000)
    }
}
</script>

<style scoped>
html{
    height: 100%;
}
.login{
    background: #70CD94;
    height: 100%;
    width: 100%;
}
img{
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
body {
    overflow: hidden;
    height: 100vh;
}

</style>