<template>
<v-layout justify-center>
  <v-overlay :value="overlay">
        <v-progress-circular
          indeterminate
          size="80"
          width="10"
          color="#16A75C"
        ></v-progress-circular>
  </v-overlay>

  <v-card
    class="overflow-hidden"
    color="#16A75C"
    dark
  >
    <v-toolbar
      flat
      color="#16A75C"
    >
      <v-icon class="mr-3">mdi-account</v-icon>
      <v-toolbar-title class="font-weight-light">
        Profile
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        color="#1E88E5"
        fab
        small
        @click="isEditing = !isEditing"
      >
        <v-icon v-if="isEditing">
          mdi-close
        </v-icon>
        <v-icon v-else>
          mdi-pencil
        </v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-text-field
        :disabled="!isEditing"
        color="white"
        label="Nama"
      ></v-text-field>
       <v-text-field
        :disabled="!isEditing"
        color="white"
        label="NIK"
      ></v-text-field>
      <v-row>
          <v-col>
                <v-autocomplete
                    :disabled="!isEditing"
                    :items="listRt"
                    :filter="customFilter"
                    color="white"
                    item-text="nomor"
                    label="RT"
                ></v-autocomplete>
          </v-col>
          <v-col>
                <v-autocomplete
                    :disabled="!isEditing"
                    :items="listRw"
                    :filter="customFilter"
                    color="white"
                    item-text="nomor"
                    label="RW"
                ></v-autocomplete>
          </v-col>
      </v-row>
    </v-card-text>
    <v-divider></v-divider>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="!isEditing"
        color="#1E88E5"
        @click="save"
      >
        Save
      </v-btn>
    </v-card-actions>
    <v-snackbar
      v-model="hasSaved"
      :timeout="2000"
      absolute
      bottom
      left
    >
      Profil anda telah diperbaharui
    </v-snackbar>
  </v-card>
</v-layout>
  
</template>

<script>

export default {

    data () {
      return {
        overlay: true,
        hasSaved: false,
        isEditing: null,
        model: null,
        listRt: [
          { nomor: '1', id: 1 },{ nomor: '2', id: 2 },{ nomor: '3', id: 3 },
          { nomor: '4', id: 4 },{ nomor: '5', id: 5 },{ nomor: '6', id: 6 },
          { nomor: '7', id: 7 },{ nomor: '8', id: 8 },{ nomor: '9', id: 9 },
          { nomor: '10', id: 10 },{ nomor: '11', id: 11 },{ nomor: '12', id: 12 },
          { nomor: '13', id: 13 },
        ],
        listRw: [
          { nomor: '1', id: 1 },{ nomor: '2', id: 2 },{ nomor: '3', id: 3 },
          { nomor: '4', id: 4 },{ nomor: '5', id: 5 },{ nomor: '6', id: 6 },
          { nomor: '7', id: 7 },{ nomor: '8', id: 8 },{ nomor: '9', id: 9 },
        ],
        //data vue image compressor
        img: "",
        imgUrl: "",
        scale: 100,
        quality: 50,
        originalSize: true,
        original: {},
      }
    },

    methods: {
      customFilter (item, queryText) {
        const textOne = item.nomor
        const searchText = queryText

        return textOne.indexOf(searchText) > -1
      },
      save () {
        this.isEditing = !this.isEditing
        this.hasSaved = true
      },

    },

    mounted(){
      setTimeout(() => (this.overlay = false), 1000)
    }
}
</script>

<style scoped>

</style>