<template>
  <v-app>

      <Login v-if="guest"/>
      <Alert/>
      <About/>

      <v-navigation-drawer app v-model="drawer" class="mx-auto" v-if="!guest" height="100%">
        <v-list-item>
          <v-list-item-avatar width="50px" height="50px">
             <img src="./assets/logo-jds.png" alt="Jabar Digital Service">
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-h5 font-weight-bold">
              BansosApp
            </v-list-item-title>
            <v-list-item-subtitle>
              By Jabar Digital Service
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense nav>
            <v-list-item @click="openAboutPage">
              <v-list-item-icon>
                <v-icon>mdi-help-box</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="font-weight-medium">About</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="logout" class="logoutBtn">
              <v-list-item-icon>
                <v-icon class="white--icon">mdi-power</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title class="white--text font-weight-medium">Logout</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app color="#16A75C" dark height="100px" v-if="!guest">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title class="pa-6 text-h6 font-weight-medium">JDS BansosApp</v-toolbar-title>
          <!-- pemisah konten -->
          <v-spacer></v-spacer>
          <template v-slot:extension>
              
                <v-tabs
                  dark
                  background-color="#16A75C"
                  grow
                >
                  <v-tab :to="'/isidatabansos'">
                    <v-list-item>
                        <v-list-item-title>Isi Data</v-list-item-title>
                    </v-list-item>
                  </v-tab>

                  <v-tab :to="'/profile'">
                    <v-list-item>
                        <v-list-item-title>Profil RW</v-list-item-title>
                    </v-list-item>
                  </v-tab>

                </v-tabs>
              
          </template>
      </v-app-bar>

      <v-main>
        <v-container fluid>
        <v-slide-y-transition>
          <!-- If using vue-router -->
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
      </v-main>
  </v-app>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'App',

  components: {//import alert dari Alert.vue
    Alert: () => import("./components/Alert.vue"),
    Login: () => import("./components/Login.vue"),
    About: () => import("./components/About.vue"),
  },

  data: () => ({
    drawer: false,
    dialog: false,
  }),

  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
    }),
  },

  methods: {
    ...mapActions({
      setAlert: 'alert/set',
      setUser: 'auth/setUser',
      setDialogStatus: 'dialog/setStatus'
    }),

    logout(){
      console.log('Logout berhasil')
      this.setUser({
        guest : true,
        user : '',
      })
      this.setAlert({
            status: true,
            //color: 'success',
            text: 'Anda berhasil Logout..',
        })
    },

    openAboutPage(){
      this.setDialogStatus(true)
    },

  },

}
</script>

<style scoped>
.logoutBtn{
  background: #FF7500;
}
</style>